<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>7ならべ</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('step5');
      sse.onmessage = function (event) {
        console.log(event.data);
        var info = JSON.parse(event.data);//JSONオブジェクトとしてparse
        // 参加者リストを表示するHTML文章の作成
        var users_table = "";
        var s = "<ul>";
        var e = "</ul>";
        users_table = users_table + s;
        for (var i = 0; i < info.room.users.length; i++) {
          users_table = users_table + "<li>" + info.room.users[i];
        }
        users_table = users_table + e;
        // 人数カウントして開始ボタンを表示するHTML文章の作成
        var start = "しばらくお待ちください。";
        if (info.room.users.length == 2) {
          start = "<a href='/start'>開始</a>";
        }
        // カードを表示するHTML文章の作成
        var cards_table = "";
        var left = 0;
        var top = 0;


        for (var i = 0; i < 4; i++) {
          top = 100 * (i + 1);
          for (var j = 0; j < 13; j++) {
            left = 100 + 70 * j;
            cards_table = cards_table + "<img th:src='@{/images/" + info.cards[13 * i + j].image + "}' width='70' height='100' style='position: absolute; left:" + left + "px; top:" + top + "px;'/>";
          }
        }

        var hand_table = "";

        for (var i = 0; i < info.room.hand.length; i++) {
          hand_table = hand_table + "<li>" + info.room.hand[i].card[i].id;
        }



        var tbody1 = document.getElementById("p1");
        tbody1.innerHTML = users_table;
        var tbody2 = document.getElementById("p2");
        tbody2.innerHTML = start;
        var tbody3 = document.getElementById("p3");
        tbody3.innerHTML = cards_table;
        var tbody4 = document.getElementById("p4");
        tbody4.innerText = hand_table;
      }
    }
  </script>
</head>

<body>
  <h1>7ならべにようこそ!!!!!!</h1>
  <h1>7ならべの部屋</h1>

  <!-- スペード -->
  <img th:src="@{/images/1.png}" width="70" height="100" style="position: absolute; left:100px; top:100px;">
  <img th:src="@{/images/2.png}" width="70" height="100" style="position: absolute; left:170px; top:100px;">
  <img th:src="@{/images/3.png}" width="70" height="100" style="position: absolute; left:240px; top:100px;">
  <img th:src="@{/images/4.png}" width="70" height="100" style="position: absolute; left:310px; top:100px;">
  <img th:src="@{/images/5.png}" width="70" height="100" style="position: absolute; left:380px; top:100px;">
  <img th:src="@{/images/6.png}" width="70" height="100" style="position: absolute; left:450px; top:100px;">
  <img th:src="@{/images/7.png}" width="70" height="100" style="position: absolute; left:520px; top:100px;">
  <img th:src="@{/images/8.png}" width="70" height="100" style="position: absolute; left:590px; top:100px;">
  <img th:src="@{/images/9.png}" width="70" height="100" style="position: absolute; left:660px; top:100px;">
  <img th:src="@{/images/10.png}" width="70" height="100" style="position: absolute; left:730px; top:100px;">
  <img th:src="@{/images/11.png}" width="70" height="100" style="position: absolute; left:800px; top:100px;">
  <img th:src="@{/images/12.png}" width="70" height="100" style="position: absolute; left:870px; top:100px;">
  <img th:src="@{/images/13.png}" width="70" height="100" style="position: absolute; left:940px; top:100px;">

  <!-- クラブ -->
  <img th:src="@{/images/14.png}" width="70" height="100" style="position: absolute; left:100px; top:200px;">
  <img th:src="@{/images/15.png}" width="70" height="100" style="position: absolute; left:170px; top:200px;">
  <img th:src="@{/images/16.png}" width="70" height="100" style="position: absolute; left:240px; top:200px;">
  <img th:src="@{/images/17.png}" width="70" height="100" style="position: absolute; left:310px; top:200px;">
  <img th:src="@{/images/18.png}" width="70" height="100" style="position: absolute; left:380px; top:200px;">
  <img th:src="@{/images/19.png}" width="70" height="100" style="position: absolute; left:450px; top:200px;">
  <img th:src="@{/images/20.png}" width="70" height="100" style="position: absolute; left:520px; top:200px;">
  <img th:src="@{/images/21.png}" width="70" height="100" style="position: absolute; left:590px; top:200px;">
  <img th:src="@{/images/22.png}" width="70" height="100" style="position: absolute; left:660px; top:200px;">
  <img th:src="@{/images/23.png}" width="70" height="100" style="position: absolute; left:730px; top:200px;">
  <img th:src="@{/images/24.png}" width="70" height="100" style="position: absolute; left:800px; top:200px;">
  <img th:src="@{/images/25.png}" width="70" height="100" style="position: absolute; left:870px; top:200px;">
  <img th:src="@{/images/26.png}" width="70" height="100" style="position: absolute; left:940px; top:200px;">

  <!-- ダイヤ -->
  <img th:src="@{/images/27.png}" width="70" height="100" style="position: absolute; left:100px; top:300px;">
  <img th:src="@{/images/28.png}" width="70" height="100" style="position: absolute; left:170px; top:300px;">
  <img th:src="@{/images/29.png}" width="70" height="100" style="position: absolute; left:240px; top:300px;">
  <img th:src="@{/images/30.png}" width="70" height="100" style="position: absolute; left:310px; top:300px;">
  <img th:src="@{/images/31.png}" width="70" height="100" style="position: absolute; left:380px; top:300px;">
  <img th:src="@{/images/32.png}" width="70" height="100" style="position: absolute; left:450px; top:300px;">
  <img th:src="@{/images/33.png}" width="70" height="100" style="position: absolute; left:520px; top:300px;">
  <img th:src="@{/images/34.png}" width="70" height="100" style="position: absolute; left:590px; top:300px;">
  <img th:src="@{/images/35.png}" width="70" height="100" style="position: absolute; left:660px; top:300px;">
  <img th:src="@{/images/36.png}" width="70" height="100" style="position: absolute; left:730px; top:300px;">
  <img th:src="@{/images/37.png}" width="70" height="100" style="position: absolute; left:800px; top:300px;">
  <img th:src="@{/images/38.png}" width="70" height="100" style="position: absolute; left:870px; top:300px;">
  <img th:src="@{/images/39.png}" width="70" height="100" style="position: absolute; left:940px; top:300px;">

  <!-- ハート -->
  <img th:src="@{/images/40.png}" width="70" height="100" style="position: absolute; left:100px; top:400px;">
  <img th:src="@{/images/41.png}" width="70" height="100" style="position: absolute; left:170px; top:400px;">
  <img th:src="@{/images/42.png}" width="70" height="100" style="position: absolute; left:240px; top:400px;">
  <img th:src="@{/images/43.png}" width="70" height="100" style="position: absolute; left:310px; top:400px;">
  <img th:src="@{/images/44.png}" width="70" height="100" style="position: absolute; left:380px; top:400px;">
  <img th:src="@{/images/45.png}" width="70" height="100" style="position: absolute; left:450px; top:400px;">
  <img th:src="@{/images/46.png}" width="70" height="100" style="position: absolute; left:520px; top:400px;">
  <img th:src="@{/images/47.png}" width="70" height="100" style="position: absolute; left:590px; top:400px;">
  <img th:src="@{/images/48.png}" width="70" height="100" style="position: absolute; left:660px; top:400px;">
  <img th:src="@{/images/49.png}" width="70" height="100" style="position: absolute; left:730px; top:400px;">
  <img th:src="@{/images/50.png}" width="70" height="100" style="position: absolute; left:800px; top:400px;">
  <img th:src="@{/images/51.png}" width="70" height="100" style="position: absolute; left:870px; top:400px;">
  <img th:src="@{/images/52.png}" width="70" height="100" style="position: absolute; left:940px; top:400px;">


  <div th:if="${room}">
    参加者
    <p id="p1"></p>
    <p id="p2"></p>
  </div>
  <div id="p3"></div>
  <div id="p4"></div>
  <a href="/back">部屋から退出する</a>
</body>

</html>
