<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>7ならべ</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('step6');
      sse.onmessage = function (event) {
        console.log(event.data);
        var info = JSON.parse(event.data);//JSONオブジェクトとしてparse
        // 参加者リストを表示するHTML文章の作成
        /* var users_table = "";
        var s = "<ul>";
        var e = "</ul>";
        users_table = users_table + s;
        for (var i = 0; i < info.length; i++) {
          users_table = users_table + "<li>" + info[i];
        }
        users_table = users_table + e;
        // 人数カウントして開始ボタンを表示するHTML文章の作成
        var start = "しばらくお待ちください。"; */

        /* if (info.length == 2) {
          start = "<a href='/start'>開始</a>";
        } */

        // カードを表示するHTML文章の作成
        var cards_table = "";
        var left = 0;
        var top = 0;

        for (var i = 0; i < 4; i++) {
          top = 100 * (i + 1);
          for (var j = 0; j < 13; j++) {
            left = 100 + 70 * j;
            cards_table = cards_table + "<img src='/images/" + info.cards[13 * i + j].image + "' width='70' height='100' style='position: absolute; left:" + left + "px; top:" + top + "px; visibility:" + info.cards[13 * i + j].state + ";'>";
          }
        }

        var hand_table = "";
        for (var i = 0; i < info.room.allHand.length; i++) {
          if (info.userName == info.room.users[i]) {
            for (var j = 0; j < info.room.allHand[i].hand.length; j++) {
              hand_table = hand_table + "<a href='/playCard?id=" + info.room.allHand[i].hand[j].id + "'>" + "<img src='/images/" + info.room.allHand[i].hand[j].image + "' width='50' height='72'></a>";
            }
            hand_table = hand_table + "<br>";
          }
        }

        var tbody3 = document.getElementById("p3");
        tbody3.innerHTML = cards_table;
        var tbody4 = document.getElementById("p4");
        tbody4.innerHTML = hand_table;
      }
    }
  </script>
</head>

<body>
  <div id=p3>

  </div>
  <div id=p4>
  </div>
  <a href="/back">部屋から退出する</a>
</body>

</html>
