<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>7ならべ</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('step5');
      sse.onmessage = function (event) {
        console.log(event.data);
        var info = JSON.parse(event.data);//JSONオブジェクトとしてparse
        // 参加者リストを表示するHTML文章の作成
        var users_table = "";

        for (var i = 0; i < info.length; i++) {
          users_table = users_table + "<p>" + info[i] + "</p>";
        }

        // 人数カウントして開始ボタンを表示するHTML文章の作成
        var start = "しばらくお待ちください。";
        if (info.length == 4) {
          window.location.href = '/7narabe2';
        }

        /* if (info.length == 2) {
          start = "<a href='/start'>開始</a>";
        } */

        // カードを表示するHTML文章の作成
        /* var cards_table = "";
        var left = 0;
        var top = 0;

        var table = ""
        table = table + '<img src="/images/1.png" width="70" height="100" style="position: absolute; left:100px; top:100px;">'; */


        /* for (var i = 0; i < 4; i++) {
          top = 100 * (i + 1);
          for (var j = 0; j < 13; j++) {
            left = 100 + 70 * j;
            cards_table = cards_table + "<img src='/images/" + info.cards[13 * i + j].image + "' width='70' height='100' style='position: absolute; left:" + left + "px; top:" + top + "px;'/>";
          }
        }

        var hand_table = "";

        for (var i = 0; i < info.room.hand.length; i++) {
          hand_table = hand_table + "<li>" + info.room.hand[i].card[i].id;
        } */

        var tbody1 = document.getElementById("p1");
        tbody1.innerHTML = users_table;

        var tbody2 = document.getElementById("p2");
        tbody2.innerHTML = start;


        /* var tbody3 = document.getElementById("p3");
        tbody3.innerHTML = cards_table;
        var tbody4 = document.getElementById("p4");
        tbody4.innerText = hand_table; */
      }
    }
  </script>
  <style type="text/css">
    .center {
      position: absolute;
      left: 0;
      top: 10%;
      width: 100%;
      font-size: 50px;
      text-align: center;
    }

    .center2 {
      position: absolute;
      left: 0;
      top: 30%;
      width: 100%;
      font-size: 30px;
      text-align: center;
    }
  </style>
</head>

<body background="/images/背景.jpg">
  <h1 class="center">7ならべの部屋</h1>

  <div th:if="${room}" class="center2">
    参加者
    <p id="p1"></p>
    <p id="p2"></p>
    <a href="/back" style="color:deepskyblue">部屋から退出する</a>
  </div>
</body>

</html>
