<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>7ならべ</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('step6');
      sse.onmessage = function (event) {
        console.log(event.data);
        var info = JSON.parse(event.data);//JSONオブジェクトとしてparse
        // 参加者リストを表示するHTML文章の作成
        /* var users_table = "";
        var s = "<ul>";
        var e = "</ul>";
        users_table = users_table + s;
        for (var i = 0; i < info.length; i++) {
          users_table = users_table + "<li>" + info[i];
        }
        users_table = users_table + e;
        // 人数カウントして開始ボタンを表示するHTML文章の作成
        var start = "しばらくお待ちください。"; */

        /* if (info.length == 2) {
          start = "<a href='/start'>開始</a>";
        } */

        // カードを表示するHTML文章の作成
        var cards_table = "";

        for (var i = 0; i < 4; i++) {
          for (var j = 0; j < 13; j++) {
            cards_table = cards_table + "<img src='/images/" + info.cards[13 * i + j].image + "' width='5.5%' style='visibility:" + info.cards[13 * i + j].state + ";'>";
          }
          cards_table = cards_table + "<br>";
        }

        // height='108'

        var hand_table = "";
        for (var i = 0; i < info.room.allHand.length; i++) {
          if (info.userName == info.room.users[i]) {
            for (var j = 0; j < info.room.allHand[i].hand.length; j++) {
              hand_table = hand_table + "<a href='/playCard?id=" + info.room.allHand[i].hand[j].id + "'>" + "<img src='/images/" + info.room.allHand[i].hand[j].image + "' width='50' height='72'></a>";
            }
            hand_table = hand_table + "<br>";
          }
        }

        var now_user = info.room.users[info.counter] + "さんの番です。";

        var rank = "";
        var flag = 0;

        for (var i = 0; i < info.room.rank.length; i++) {
          if (info.room.rank[i] == 0) {
            flag = 1;
          }
          rank = rank + info.room.users[i] + "さんの順位は" + info.room.rank[i] + "位です。<br>";
        }

        if (flag == 0) {
          var tbody6 = document.getElementById("p6");
          tbody6.innerHTML = rank;
        }

        var tbody3 = document.getElementById("p3");
        tbody3.innerHTML = cards_table;
        var tbody4 = document.getElementById("p4");
        tbody4.innerHTML = hand_table;
        var tbody5 = document.getElementById("p5");
        tbody5.innerHTML = now_user;
      }
    }
  </script>
</head>

<body>
  <a href="/back">部屋から退出する</a>
  <div id=p3>
  </div>
  <div id=p5>
  </div>
  <div id=p4>
  </div>
  <a href="/pass">パス</a>
  <div id=p6>
  </div>
</body>

</html>
